#root {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: 20px auto;
  grid-template-areas: 
    ". palette_top" 
    "palette_left canvas";
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: lime;
}